body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0;
	padding: 0;
	background-color: rgb(146, 146, 216);
}
a {
	color: rgb(29, 112, 145);
	font-size: 1.4em;
	text-decoration: none;
	text-transform: uppercase;
}
.footer {
	vertical-align: center;
	margin: 0 auto;
	width: 550px;
}
.main-header {
	color: #333;
	width: 220px;
	padding: 0 0 25px 0;
	vertical-align: center;
	margin: 0 auto;
	text-shadow: 5px 5px 0px rgb(187, 114, 230), 10px 10px 0px rgb(218, 98, 154);
}
.section-content {
	position: relative;
	width: 100vw;
	vertical-align: center;
	margin: 0 auto;

}
.paginator {
	width: 600px;
	vertical-align: center;
	margin: 0 auto;
}
#tennis-container {
	position: relative;
	text-align: center;
	/* left: 120px ; */
	/* width: 960px; */
	/* top: calc(30vh - 360px); */
	transform-origin: 200px 175px;
}
#canvas-field, #canvas-ball {
	position: absolute;
	/* top: calc(10vh); */
	left: calc(50% - 200px);
	transform: rotate(90deg);
	border: 3px solid violet;
}
#main {
	display: block;
}
#play {
	display: none;
}
#rules {
	display: none;
}
#about {
	display: none;
}
#main-button {
	border-radius: 8px;
	display: inline-block;
	text-align: center;
	margin: 15px;
	width: 100px;
	height: 40px;
	background-color: #fff;
}
#play-button {
	border-radius: 8px;
	display: inline-block;
	text-align: center;
	margin: 15px;
	width: 100px;
	height: 40px;
	background-color: #fff;
	
}
#rules-button {
	border-radius: 8px;
	display: inline-block;
	text-align: center;
	margin: 15px;
	width: 100px;
	height: 40px;
	background-color: #fff;
}
#about-button {
	vertical-align: middle;
	border-radius: 8px;
	display: inline-block;
	text-align: center;
	margin: 15px;
	width: 100px;
	height: 40px;
	background-color: #fff;
}
.score, .lifes {
	cursor: crosshair;
	color: rgb(119, 54, 172);
	font-size: 1.243rem;
	font-weight: 450;
	line-height: 40px;
	vertical-align: middle;
	border-radius: 8px;
	display: inline-block;
	text-align: center;
	margin: 15px;
	width: 100px;
	height: 40px;
	background-color: rgb(104, 163, 231);
	text-shadow: 1px 1px 0px rgb(187, 114, 230), 2px 2px 0px rgb(218, 98, 154);
	box-shadow: 1px 1px 0px rgb(187, 114, 230), 2.5px 2.5px 0px rgb(218, 98, 154);
}
.start-button {
	outline:none;
	text-transform: uppercase;
	font-size: 1.243rem;
	font-weight: 450;
	line-height: 40px;
	color: rgb(119, 54, 172);
	border: 1.5px solid rgb(187, 114, 230);
	border-radius: 8px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin: 15px;
	width: 89px;
	height: 40px;
	background-color: rgb(179, 233, 155);
	text-shadow: 1px 1px 0px rgb(187, 114, 230), 2px 2px 0px rgb(218, 98, 154);
	box-shadow: 1px 1px 0px rgb(187, 114, 230), 2.5px 2.5px 0px rgb(218, 98, 154);
}
.pause-button {
	outline:none;
	text-transform: uppercase;
	font-size: 1.243rem;
	font-weight: 450;
	line-height: 40px;
	color: rgb(119, 54, 172);
	border: 1.5px solid rgb(187, 114, 230);
	border-radius: 8px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin: 25px;
	width: 89px;
	height: 40px;
	background-color: rgb(255, 157, 100);
	text-shadow: 1px 1px 0px rgb(187, 114, 230), 2px 2px 0px rgb(218, 98, 154);
	box-shadow: 1px 1px 0px rgb(187, 114, 230), 2.5px 2.5px 0px rgb(218, 98, 154);
}
#canvas-ball, #canvas-field {
	box-shadow: 5px 5px 0px rgb(187, 114, 230), 10px 10px 0px rgb(218, 98, 154);
	margin: 0 auto;
}
.messageBox {
	z-index: 1;
	display: none;
	text-align: center;
	background-color: #3fdde6;
	color: #d03ed0;
	margin: auto;
	width: 300px;
	height: 190px;
	border: solid #cc90db 2px;
	margin-top: 120px;
	transition: opacity 0.5s linear;
	opacity: 0;
	box-shadow: 5px 5px 0px rgb(187, 114, 230), 10px 10px 0px rgb(218, 98, 154);
}
.popUpWindow {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: transparent;
	transform: translateZ(0);
}
.messageBoxAppear {
  animation: pulsing 3.5s infinite;
	opacity: 1;
}
.messageText {
	font-family: 'PT Sans', sans-seriff;
	font-size: 20px;
	text-transform: uppercase;
	color: #3E87D0;
	font-weight: bold;
	margin: 50px 0 40px 0;
	text-shadow: 2px 2px 0px rgb(187, 114, 230), 5px 5px 0px rgb(218, 98, 154);
}
.optionText {
	border-radius: 8px;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	color: #3E87D0;
	font-weight: bold;
	border: solid white 2px;
	width: 200px;
	margin: auto;
	margin-bottom: 10px;
	padding: 7px;
	background-color: #f0bdfa;
	cursor: pointer;
}

[class*="button"]:hover {
	opacity: 0.65;
	background-color: #f0bdfa;
	text-shadow: 1px 1px 3px rgb(236, 208, 252), 2px 2px 2px rgb(243, 199, 219);
	box-shadow: 3px 3px 0px rgb(225, 191, 245), 4px 4px 1px rgb(240, 185, 211);
	transition: text-shadow 0.5s ease, box-shadow 0.3s ease, opacity 1.7s ease, background-color 1.7s ease;
}
[id*="button"]:hover {
	text-shadow: 1px 1px 3px rgb(236, 208, 252), 2px 2px 2px rgb(243, 199, 219);
	box-shadow: 3px 3px 0px rgb(225, 191, 245), 4px 4px 1px rgb(240, 185, 211);
	transition: text-shadow 0.5s ease, box-shadow 0.3s ease;
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8)
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
}


/* MEDIA RULES */

/* @media (max-width: 1280px) {
  #canvas-field, #canvas-ball {
  }
}
@media (max-width: 1024px) {
  #canvas-field, #canvas-ball {
  }
}
@media (max-width: 768px) {
  #canvas-field, #canvas-ball {
  }
}
@media (max-width: 640px) {
  #canvas-field, #canvas-ball {
  }
}
@media (max-width: 480px) {
  #canvas-field, #canvas-ball {
  }
  .body {
    padding: 50px 0 50px;
  }
}
@media (max-width: 400px) {
  #canvas-field, #canvas-ball {
  }
  .body {
  }
}
@media (max-width: 320px) {
  #canvas-field, #canvas-ball {
  }
} */
